body {
  padding-left: 11em;
  font-family: Georgia, "Times New Roman",
        Times, serif;
  color: red;
  background-color: lightblue;
}

ul.navbar {
    list-style-type: none;
    margin: 5;
    padding: 5;
    overflow: hidden;
    background-color: #333;
}
div {
    display: block;
}
li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

h1 {
  font-family: Helvetica, Geneva, Arial,
        SunSans-Regular, sans-serif }

.active {
    background-color: #4CAF50;
}



address {
  margin-top: 1em;
  padding-top: 1em;
  border-top: thin dotted }
