<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="styles.css">
        <title>
            GroceryHelper Webapp
        </title>
    </head>
<body>
    <h1>GroceryHelper Webapp</h1>
    <p>Grocery shopping is often time consuming and frusterating due to the time it
      can take to locate ingredients at your local stores. We hope to aleviate this
      struggle by locating the ingredients you need at your local stores and planning
      your trip so feeding your family can be fun!</p>
<nav>
  <ul>
    <p><a href="http://127.0.0.1:5000/app">Get started with our app!</a></p>
    <p><a href="contact.html">Contact Us</a></p>
  </ul>
</nav>
<body>
  <html>
