<!DOCTYPE html>
<html>
    <head>

        <title>GroceryHelper</title>
        <link rel="stylesheet" type="text/css" href="styles.css">

    </head>
<body>
    <h1>GroceryHelper</h1>
    <img src="cow.jpg" width="104" height="142">
    <p> What is GroceryHelper?</p>

    <p>Grocery shopping is often time consuming and frustrating due to the time it
      can take to locate ingredients at your local stores. We hope to aleviate this
      struggle by locating the ingredients you need at your local stores and planning
      your trip so feeding your family can be fun!</p>

      <p>How to use GroceryHelper:</p>

      <p>you do the things</p>

<nav>
  <ul>
    <li><a href="http://127.0.0.1:5000/app">Get started!</a></li>
    <li><a href="http://127.0.0.1:5000/about_team">Learn more</a></li>
  </ul>
</nav>
</body>
  </html>
