<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <title>Recipe</title>
    </head>
<body>
  <h2>What ingredients do you already have?</h2>
  <form action="/food" method="post">
    Ingredients:<br>
    <input type = "text" name="ingredients"><br>

    <h2>What cuisine do you want?</h2>

    Cuisine:<br>
   <input type="text" name="type"><br>

   <h2>What is your address?</h2>

   House Number:<br>
  <input type="text" name="housenum"><br>

  Street:<br>
  <input type="text" name="street"><br>
  City:<br>
  <input type="text" name="city"><br>

  State:<br>
  <input type="text" name="state" maxlength="2"><br>

  Zip Code:<br>
  <input type="number" name="zip" maxlength="5"><br>
  <input type="submit" value="Submit">
  </form>
</body>
</html>
