
         <title>GroceryHelper</title>
         <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Nunito" />
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Didact+Gothic" />
     </head>
 <body>
<div class="header-container">
  <div class="header">
     <h1>GroceryHelper</h1>

    <div class = "topnav" id = "myTopnav">

      <!--<ul>
         <li><a href="http://127.0.0.1:5000/app">Get started!</a></li>
         <li><a href="http://127.0.0.1:5000/about_team">Learn more</a></li>
      </ul> -->
          <a href="/">Home</a>
          <a href="/app">Get started!</a>
          <a href="/about_project">Learn more</a>
          <a href="/about_us">Meet the team</a>
   </div>
  </div>
</div>
  <div id = "content">
     <h1> Welcome to GroceryHelper!</h1>
     <p>Feel free to navigate through the page using the navigation bar at the top of the page to try our app
       and learn more about the project and out team!</p>

     <h2> The Big Idea of GroceryHelper:</h2>

     <p>Grocery shopping can often become a long and cumberson process. Often times one store will not have what you need
       which requires you to travel to multiple inorder to aquire all of the groceries that you need.
       GroceryHelper is a tool to make grocery shopping quicker and easier. When
       ingredients and an origin location are inputted, our GroceryHelper webapp
       will output a shopping plan which includes: a list of stores to visit in
       sequential order, a map with directions to each store and back to your origin,
       and a list of which ingredients to buy at each store.</p>

      <h2>Running GrocerHelper</h2>

      <p>
          A hosted version of GroceryHelper can be accessed at <a href="https://groceryhelper-sd2017.herokuapp.com/">
          https://groceryhelper-sd2017.herokuapp.com/</a> In order to run GroceryHelper, you'll need to install a few
          Python 3 dependencies. Just run the following
          command in Terminal: <strong>pip3 install flask untangle requests</strong>. Then to launch the web app, run
          <strong>python3 webapp_flask.py</strong>.
      </p>

      <img src="{{ url_for('static', filename='cow.jpg') }}" id = "bessie" style="width:600px;height:400px;">

 </div>

 </body>
   </html>
