
         <title>GroceryHelper</title>
         <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Nunito" />
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Didact+Gothic" />
     </head>
 <body>
  <div>
     <h1>GroceryHelper</h1>

    <div class = "topnav" id = "myTopnav">

      <!--<ul>
         <li><a href="http://127.0.0.1:5000/app">Get started!</a></li>
         <li><a href="http://127.0.0.1:5000/about_team">Learn more</a></li>
      </ul> -->
      <a href="http://127.0.0.1:5000/">Home</a>
      <a href="http://127.0.0.1:5000/app">Get started!</a>
      <a href="http://127.0.0.1:5000/about_team">Learn more</a><
   </div>
  <div>
</div>
  <div id = "section">
     <p> What is GroceryHelper?</p>

    <p>
       Grocery shopping is often time consuming and frustrating due to the time it
       can take to locate ingredients at your local stores. We hope to aleviate this
       struggle by locating the ingredients you need at your local stores and planning

       <p>you do the things</p>

 </div>
<img src="{{ url_for('static', filename='cow.jpg') }}" width="250" height="300">
 </body>
   </html>
