
<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Nunito" />
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Didact+Gothic" />
    <head>
        <title>
            About | GroceryHelper
        </title>
    </head>
<body>
<div class="header-container">
  <div class="header">
     <h1>GroceryHelper</h1>

    <div class = "topnav" id = "myTopnav">

      <!--<ul>
         <li><a href="http://127.0.0.1:5000/app">Get started!</a></li>
         <li><a href="http://127.0.0.1:5000/about_team">Learn more</a></li>
      </ul> -->
          <a href="/">Home</a>
          <a href="/app">Get started!</a>
          <a href="/about_project">Learn more</a>
          <a href="/about_us">Meet the team</a>
   </div>

</div>
</div>
<div id = "content">

    <h1>Learn More About the Project!</h1>
    <p>Feel free to navigate through the page using the navigation bar at the top of the page to try our app
      and learn more about the project and out team!</p>

    <h2>Why Groceries?</h2>

    <p>Grocery shopping can often become a long and cumbersome process. Often times, one store will not have
        what you need, which requires you to travel to multiple stores in order to acquire all of the
        groceries that you need. Sometimes you don't even know if the other store will carry what you need.
        As busy college students we wanted a way to quickly determine the best plan to
        complete all of our grocery shopping. From that idea, GroceryHelper was born.
    </p>

    <h2> Main Idea</h2>
    <p>GroceryHelper is a tool to make grocery shopping quicker and easier. When ingredients
      and an origin location are inputted, our GroceryHelper web app will output a shopping plan
      which includes: a list of stores to visit in sequential order, a map with directions to each
      store and back to your origin, and a list of which ingredients to buy at each store. The
      outputted path is the minimum distance the user has to travel in order to get all the ingredients
      they need. The goal of GroceryHelper is to minimize time spent shopping and the disappointment of
      caused by not finding the items that the shopper wants at the grocery store. Additionally, if the
      shopper does not know what they want to eat they can input a cuisine and some ingredients and
      GroceryHelper will output a recipe and a path plan to purchase the extra ingredients needed.</p>


    <h2>Implementation information</h2>

    <p><img class="image-right" src="/static/Flowchart.png" alt="Program flowchart"/>
      The GroceryHelper path finding algorithm works by first filtering grocery stores by Euclidean
      distance away from the location of the user. This is done by using the latitude and longitude
      of the locations. It then identifies which stores have which ingredients and makes a list of
      every path possible to get all the ingredients. Each calculated path is then scored based on
      how many stops there are and what the total distance traveled is. The path with the minimum
      score is chosen and then the route the user should take along with the items they should buy
      at each store is given to the user.</p>

    <!--<img src="{{ url_for('static', filename='Pres-AI-depiction-01.jpg') }}" id = "description" style="width:600px;height:400px;">-->
    <h2>Results</h2>

    <p>
      You can explore the results of our project under the Get Started tab to try it out! We were able to accomplish a
      lot of our stretch goals.
    </p>

    <h2>Project evolution</h2>

    <p>Our initial goal for this project was to create a WebApp that could tell you the cheapest and fastest places
      to buy your groceries. Unfortunately, came up with the idea before we actually found an API, and, unfortunately,
      the majority of the information that we needed to be successful was very proprietary, and therefore could not be
      found for free on the interwebs. So instead of focusing on prices, we pivoted a little and decided to focus the app
      on finding the fastest route to get all of your groceries. An added feature was that we roped in a recipe database
      and added a meal planning helper. Thus, GroceryHelper was born.
      <br>
      Along the development path, we hit more road bumps. We started the project using Django for our database and planned
      to use it for web development as well. However, it turns out that Django is really confusing and complete overkill for
      the website applications we needed, so a few weeks in, we switched everything over to Flask. We had used Flask during
      other class assignments and felt comfortable with it, so things went much more smoothly from there. We love Flask!
      <br>
      Another problem arose when we started testing our path planning algorithm. After looking more closely at the data that
      we were getting back from the Supermarket API, we realized that many areas of the country were very poorly represented,
      and some not at all. We also found that the way that foods were classified was real weird. For example, if you searched
      a store for apples, it would first give you all of the different kinds of apple baby food that the store held. At that
      point in the project, we decided to just move forward with the API that we had, even though it had some data quality issues.
      <br>
      In the end, we ended up with this great product that can very reliably tell you the fastest ways to get to stores in your
      area to get baby food, but only if you live in a major metropolitan area. :)</p>

    <h2>Attribution</h2>

    <p>We used three APIs to create our app:
      <ol>
        <li>Supermarket API for product information at local stores</li>
        <li>Yummly API for the recipe database</li>
        <li>Google Maps for geocoding, driving directions, and live map</li>
      </ol>

    </p>
  </div>
</html>
