
<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Nunito" />
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Didact+Gothic" />
    <head>
        <title>
            GroceryHelper Webapp
        </title>
    </head>
<body>
  <div>
     <h1>GroceryHelper</h1>

    <div class = "topnav" id = "myTopnav">

      <!--<ul>
         <li><a href="http://127.0.0.1:5000/app">Get started!</a></li>
         <li><a href="http://127.0.0.1:5000/about_team">Learn more</a></li>
      </ul> -->
      <a href="http://127.0.0.1:5000/">Home</a>
      <a href="http://127.0.0.1:5000/app">Get started!</a>
      <a href="http://127.0.0.1:5000/about_team">Learn more</a><
   </div>

</div>
<div id = "content">
    <h1>What are we all about?</h1>
    <p>Grocery shopping can often become a long and cumberson process. Often times one store will not have what you need
      which requires you to travel to multiple inorder to aquire all of the groceries that you need. 
    <form action="/about_team" method="post">
    <h2>Implementation information</h2>
    <p>wooooooooooooooottttttt</p>
    <h2>Results</h2>
    <p>tooooooootttttt</p>
    <h2>Project evolution</h2>
    <p>helooooooooo</p>
    <h2>Attribution</h2>
    <p>site the webapps</p>
  </div>
</html>
